@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    /* font-family: "Poppins", sans-serif;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    transition: 0.4s;
   
}

body{
width:100%;

}
nav {
    font-family: "Roboto Mono", monospace;
    background-color: #e4dabb;
    height: 8vh;
    display: flex;
   justify-content: space-between; 
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 3vh 2vw;
   
 
}

#responsive{
    display: none;
}
/* #menue-icon{
    color:hsla(45, 34%, 23%, 0.719) ;
    font-size: 3.5vw;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: space-between; */
 



.logo {
    width: 140px;
  
    
}

ul {
    list-style: none;
    display: flex;
     height: 10vh;
 
}


ul li{
 
    
    font-size: 19px;
    letter-spacing: 1.4PX;
    font-weight:bold;

}
a {
    
 
    padding: 2vh 2vw;
    /* padding-right: 10px;
    padding-left: 10px;
    */
    display:block;
    

    text-decoration: none;
    color:hsla(45, 34%, 23%, 0.719) ;
   
}
ul li a:hover{
    background-color:hsla(49, 16%, 34%, 0.847) ;
    color: white;
    
    
}
.activate{
    background-color:hsla(49, 16%, 34%, 0.847) ;
    color: white; 
    
}



 



/* ........ */
.start{
    
     background-color: beige;  
      
} 
.cover{
    background-image: url(Cover.png);
    background-size: cover;   
    height: 90vh;
    background-color: beige;
    justify-content: space-between;
    margin-inline-start: 9vw;
    display: flex;
     align-items: center;
    justify-content: flex-start;
    padding: 20vh 2vw; 
}
.content h4{
    letter-spacing: 2px; 
    margin-bottom:10px;
        
}
.content h2{
align-items: center;
 font-size: 42px;
  font-weight: bold;
  
}
.content h2:last-of-type{
    color: rgba(54, 44, 29, 0.644);
}
.content p{
    color: rgba(78, 64, 42, 0.541); ;
    letter-spacing: 1px;

}
.content a{
    background-color:hsla(49, 16%, 34%, 0.847);
    color: white;
    font-size: 25px;
    letter-spacing: 0.5PX;
    width: fit-content;
    margin: 15px 65px;
}
.content a:hover{
    background-color:hsla(45, 7%, 42%, 0.644) ;
    
}

/* ......Boxes....... */
.container{
    background-color:rgb(231, 222, 192);
    display: flex;
    justify-content: space-around;
   
}

.box{
    width: 100%;
    height: 50vh;
    margin-left: 4vw;
    margin-right: 1vw;
}
.f{
    background-color:whitesmoke;
    margin-top: 10vh;
    margin-right:1vw;
    height: 32vh;
    width: 14vw;
    border: 1px solid #ccc;
    border-radius: 17px;
    padding: 20px;
    display: inline-block;
}
.f button{
    padding: 6px 12px;
    margin-top: 7px;
    margin-left: 20px;
    outline: none;
    border: none;
    cursor: pointer; 
    color: white;
    justify-content: center;
    letter-spacing: 0.9px;
    
    
}

.f:nth-child(1) button {
    background-color:red ;
}
.f:nth-child(2) button {
    background-color: rgb(255, 217, 0);
}
.f:nth-child(3) button {
    background-color:rgb(0, 89, 255);
}
.f:nth-child(4) button {
    background-color:purple; 
}
.f:nth-child(5) button {
    background-color:rgb(0, 89, 255);
}
.f:nth-child(6) button {
    background-color:red ;
}
/* ......Featured........ */

#pro-1{
    text-align: center;
    background-color: beige;
    
}
#pro-1 h2{
    font-size: 53px;
    color: rgb(145, 128, 114);
    letter-spacing: 3px;

}
#pro-1 p{
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 18px;
    font-family:"Roboto Mono", monospace; ;
    color: rgba(158, 140, 126, 0.87);
}

#pro-1 .pro{
    width: 21%;
    padding:10px;
    border: 2px solid rgba(255, 255, 250, 0.993);
    border-radius: 15px;
    background-color: white;
    display:inline-block;
    margin-top: 2vh;
    margin-right: 1vh;
    margin-left: 1vh;
    font-family:"Roboto Mono", monospace;


} 
#pro-1 .pro img{
    width: 98%;
    border-radius: 20px;
}
#pro-1 .pro .details{
    text-align: left;
}

#pro-1 .pro .details h1{
    color: rgb(119, 103, 90);
    letter-spacing: 0.6px;
    font-size: 20px;

}
/* ........5 stars...... */
#staaars{
    color: rgb(255, 251, 0);
    list-style: none;
}

#pro-1 .pro .details h3{
    color: red;
    font-weight: bold ;
    
}
.sale{
    background-image: url(banner.jpg);
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    
    
}
.sale h3{
    color: white;
    font-size: 20px;
}
.sale h1{
    color: white;
    font-size: 40px;

}
#off{
    color: red;
    font-size:38px ;
}

.sale button{
    padding: 15px;
    width: 15vw;
    border-radius: 8px;
    border-color: black;
    font-size: 16px;
    justify-content: center;
    cursor: pointer; 
    margin-right: 7vw;
}
/* .........deals......... */


#deal{
    display: flex;
    justify-content: space-between;
    padding:0 7vw;

}
#deal .d{
    
    background-size: cover;
    background-position: center;
    width: 45vw;
    padding-top: 7vh;
    padding-left: 3vw;
    height: 40vh;
    margin: 0.6vw;
    
}

#deal .d h4,span{
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    color: rgba(248, 255, 217, 0.877);
    
}
#deal .d h2{
    color: white;
    letter-spacing: 0.4px;
    font-size: 40px;
}
#deal .d button{
    font-size: 19px;
    padding: 8px 30px;
    background-color: rgba(204, 204, 204, 0);
    color: rgb(255, 236, 220);
    border-color: white;
 
}
#deal .d button:hover{
    background-color: rgba(201, 187, 164, 0.5);
    color: white;
    cursor: pointer;
}

#d1{
    background-image: url(j1.jpg);
}
#d2{
    background-image: url(j2.jpg); 
}
#d3{
background-image: url(j3.jpg);
}
#d4{
    background-image: url(j4.jpg);   
}
#d5{
    background-image: url(j5.jpg);
}



/* .......sign up...... */
#sign{
    background-color: rgba(71, 59, 36, 0.856);
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11vh 8vw;
}
#sign .info h2{
    color: #e6e3da;
    font-size: 40px;
    margin-bottom: 7px;
    word-spacing: 2px;
    letter-spacing: 0.8px;
}
#sign .info p{
    color: #e6e3dac5;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}
#sign .info span{
    color: rgba(248, 211, 2, 0.938);
    font-size: 15px;
}
#sign .email{
    display: flex;
    width: 45%;
}
#sign input{
    height: 7vh;
    width: 37vw;
    border: 5px ;
    border:solid beige;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    outline: none;
}
#sign button{
    border-radius: 0 5px 5px 0;
    padding:  8px;
    outline: none;
    background-color: rgba(255, 236, 194, 0);
    color: rgb(255, 255, 255);
    border-color: beige;
    width: 7vw;
    cursor: pointer;
}


/* .......last section..... */
footer{
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10vh 5vw;
    letter-spacing: 0;
}
footer h4{
    font-weight: 700;
    font-size: 20px;
}
footer span{
    font-weight: bold;
    font-size: 20px;
    color: rgba(77, 14, 14, 0.89);
}
footer p,a{
    color: rgba(0, 0, 0, 0.74);
    margin-top: 7px;
}
.contact img{
    width: 130px;
}

.follow img{
 width: 20px;
}
/* .........copyrights........ */

#copy{
    text-align: center;
    padding: 4vh;
     height: 8vh;
     color: rgba(88, 69, 53, 0.705);
     background-color:beige;

}
/* .......shop styling...... */
#swipe a{
 background-color: rgba(168, 130, 102, 0.507);
 display: inline-block;
 justify-content: center;
 margin: 3px;
 color: white;
 padding: 15px;

}
#swipe a:hover{
    background-color: rgba(71, 59, 29, 0.747);
}
#swipe a.activate{
    background-color: rgba(71, 59, 29, 0.747);

}



/* .........masure.... */

@media(max-width: 992px) {
    #bar{
        display: none;
       
    }
    #responsive{
      display: contents;
      /* float: right; */
      cursor: pointer;
      justify-content: space-between;
      display: flex;

      color:hsla(49, 16%, 34%, 0.847) ;
      
    }
    #menue-icon{
        margin-top: 18px;
        font-size: 30px;
    }
   #cart-2{
        font-size: 25px;
    }
    
    
}